<section class="section">
  <div class="container">

    <%= render @event %>
    
    <div class="block" id="controller">
      <%= link_to "Back to events", events_path %>
      
      <% if user_signed_in? && current_user.id == @event.creator_id %>
        <%= link_to "Edit this event", edit_event_path(@event) %>
        <%= button_to "Destroy this event", @event, method: :delete, class:"button is-info" %>
      <% end %>

      <% if  user_signed_in? && AttendeesEvent.exists?(attendee_id: current_user.id, event_id: @event.id) %>
          <%= link_to 'Unattend', unattend_event_path(@event.id), 
                                  class: "attend-btn button is-danger is-light mb-4 is-medium" %>
      <% else %>
          <%= link_to 'Attend', attend_event_path(@event.id), 
                              class: "attend-btn button is-danger mb-4 is-medium" %>
      <% end %>
    </div>

  </div>
</section>  
